 h1 {
   text-align: center;
   font-size: 100px;
   font-family: cursive;
   background-color: pink;
 }

 body {
   background-color: grey;
 }

 .player1 {
   float: left;
   font-size: 50px;
   font-style: italic;
   font-weight: bold;
   background-color: black;
   background-image: url("../images/johnnyb.jpeg");
   image size: 60px;
 }

 .player2 {
   float: right;
   font-size: 50px;
   font-style: italic;
   font-weight: bold;
   background-image: url("../images/bobsburgers.jpg");
   image size: 60px;
 }

 .container {
   text-align: center;
 }